a { 
    text-decoration: none;
    color: var(--bs--black);
}

a:hover {
    text-decoration: underline;
}

a.overdue { 
    background-color: #f8d7da;
    color: #842029;
    border: 1px solid #f5c2c7;
    padding: 0.25em;
    border-radius: 0.375rem;
}

a.due {
    background-color: #fff3cd;
    color: #664d03;
    border: 1px solid #ffecb5;
    padding: 0.25em;
    border-radius: 0.375rem;
}

a.priority {
    font-weight: bolder;
}

a.tomorrow {
    color: #055160;
    background-color: #cff4fc;
    border: 1px solid #b6effb;
    padding: 0.25em;
    border-radius: 0.375rem;
}

a.thresholdPast {
    color: #842029;
}

a.thresholdToday {
    color: #664d03;
}

a.complete { 
    text-decoration: line-through;
    font-weight: normal !important;
    color: var(--bs-black);
    background-color: var(--bs-white) !important;
    border: 0px;
}

.context, .project {
    color: var(--bs-gray-400);
    background-color: var(--bs-white);
    margin: 0 0.25rem;
    border: 1px solid var(--bs-gray-500);
    border-radius: var(--bs-border-radius);
    padding: 0 0.25rem;
}

.context:hover, .project:hover {
    color: var(--bs-white);
    background-color: var(--bs-gray-400);
    border: 1px solid var(--bs-gray-600);
}

.waitingfor {
    color: var(--bs-gray-400);
}

.waitingfor:hover {
    color: var(--bs-gray-600);
}
