
<div class="my-3 bg-light p-5 rounded-3">

    <h1 class="fs-1">
        Create a GTD and Todo.txt compatible encrypted task list
    </h1>
        <p class="fs-4">See <a href="about">about</a> for more information and features.</p>
        <p>Enter some case-sensitve unique text below. Don't forget it, or your data will be irrecoverable.</p>
</div>

<div class="my-3">

    <form action="">

        <div class="form-floating">
            <input type="text" class="form-control shadow" name="dbkey" id="dbkey" [(ngModel)]="dbkey" autofocus
                autocomplete="on">
            <label for="dbkey">Database key</label>
        </div>

        <button class="btn btn-primary my-3" [routerLink]="['/', dbkey, 'items']" [ngClass]="{disabled:dbkey==''}">Open
            database</button>
    </form>
</div>
